.border-circle, .card-circle-header {
  border-radius: 50%;
}

.container-no-full {
  width: 80%;
  margin: 0 auto;
}

.font-bold, .services .box-center .title-sesrvices h2 span, .header .box-header .container-figure .move-box .card-circle-header .pop-up .card-message h3, .header .box-header .container-figure .move-box .card-circle-header .card-header .dolar-figure, .header .box-header .container-figure .move-box .card-circle-header .card-header .number-figure, .text-card-message h3, .course .box-center .info-phone .pop-up-right .card-message:last-child h3, .course .box-center .info-phone .pop-up-right .card-message:first-child h3, .course .box-center .info-phone .pop-up-left .card-message:last-child h3, .course .box-center .info-phone .pop-up-left .card-message:first-child h3 {
  font-weight: bold;
}

.font-bolder, .header .box-header .header-title {
  font-weight: 700;
}

.font-medium, .header .box-header .container-figure .move-box .card-circle-header .card-header .description-figure {
  font-size: 36px;
}

.font-title-lg, .header .box-header .header-title {
  font-size: 60px;
}

.font-small, .services .box-center .info-services .boxes-services h2, .header .box-header .container-figure .move-box .card-circle-header .card-header .btn-figure, .header .box-header .container-figure .move-box .card-circle-header .card-header .title-figure, .header .box-header .header-title span {
  font-size: 24px;
}

.font-smaller {
  font-size: 14px;
}

.font-weight-slim, .services .box-center .info-services .boxes-services h3, .services .box-center .title-sesrvices h2, .header .box-header .container-figure .move-box .card-circle-header .pop-up .card-message h3:last-child, .header .box-header .header-title span, .text-card-message h3:last-child, .course .box-center .info-phone .pop-up-right .card-message:last-child h3:last-child, .course .box-center .info-phone .pop-up-right .card-message:first-child h3:last-child, .course .box-center .info-phone .pop-up-left .card-message:last-child h3:last-child, .course .box-center .info-phone .pop-up-left .card-message:first-child h3:last-child {
  font-weight: 200;
}

.font-weight-medium, .header .box-header .container-figure .move-box .card-circle-header .card-header .description-figure, .header .box-header .container-figure .move-box .card-circle-header .card-header .title-figure {
  font-weight: 400;
}

.height-full, .tutores {
  height: 100vh;
}

.inline-block, .header .box-header .container-figure .move-box .card-circle-header .pop-up .love-img, .header .box-header .container-figure .move-box .card-circle-header .card-header .number-figure, .card-message {
  display: inline-block;
}

.margin-auto, .card-circle-header {
  margin: 0 auto;
}

.margin-none, .header .box-header .container-figure .move-box .card-circle-header .pop-up .card-message h3, .header .box-header .container-figure .move-box .card-circle-header .card-header .description-figure, .header .box-header .container-figure .move-box .card-circle-header .card-header .number-figure, .header .box-header .container-figure .move-box .card-circle-header .card-header .title-figure, .header .box-header .header-title, .text-card-message h3, .course .box-center .info-phone .pop-up-right .card-message:last-child h3, .course .box-center .info-phone .pop-up-right .card-message:first-child h3, .course .box-center .info-phone .pop-up-left .card-message:last-child h3, .course .box-center .info-phone .pop-up-left .card-message:first-child h3 {
  margin: 0;
}

.mt7 {
  margin-top: 7rem;
}

.no-border, .header .box-header .container-figure .move-box .card-circle-header .card-header .btn-figure {
  border: none;
}

.text-align-center, .header .box-header .header-title, .card-header {
  text-align: center;
}

.text-align-left, .header .box-header .container-figure .move-box .card-circle-header .pop-up .card-message h3, .text-card-message h3, .course .box-center .info-phone .pop-up-right .card-message:last-child h3, .course .box-center .info-phone .pop-up-right .card-message:first-child h3, .course .box-center .info-phone .pop-up-left .card-message:last-child h3, .course .box-center .info-phone .pop-up-left .card-message:first-child h3 {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-center, .tutores .box-center, .services .box-center .info-services .boxes-services, .services .box-center, .course .box-center {
  text-align: center;
}

.text-deco-none, .card-message {
  text-decoration: none;
}

.padding-none, .header .box-header {
  padding: 0;
}

.pull-right {
  float: right;
}

.position-absolute, .tutores .box-center, .services .box-center, .course .box-center, .header .box-header .container-figure .move-box, .card-message {
  position: absolute;
}

.position-relative, .tutores .box-center .info-phone, .tutores .box-center .box-line, .tutores, .services .box-center .title-sesrvices, .services, .course .box-center .info-phone, .course .box-center .box-line, .course, .header .box-header .container-figure {
  position: relative;
}

.width-full, .tutores .box-center .info-phone, .tutores .box-center, .services .box-center .info-services, .services .box-center, .course .box-center .info-phone, .course .box-center, .header .box-header .container-figure .move-box .card-circle-header .pop-up, .header .box-header .container-figure, .header {
  width: 100%;
}

.z-index-10, .services .box-center .title-sesrvices h2, .card-header {
  z-index: 10;
}

.z-shadow, .header .box-header .container-figure .move-box .card-circle-header .card-header .btn-figure, .card-message {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 2px 7px 0 rgba(0, 0, 0, 0.1);
}

.z-shadow-light, .card-header {
  box-shadow: 20px 20px 60px rgba(190, 190, 190, 0.25), -20px -20px 60px rgba(255, 255, 255, 0.25);
}

.z-shadow-card, .card-message {
  box-shadow: 20px 20px 60px rgba(190, 190, 190, 0.25), -20px -20px 60px rgba(255, 255, 255, 0.25);
  border-radius: 30px;
  z-index: 10;
}

.z-text-shadow, .header .box-header .container-figure .move-box .card-circle-header .card-header .title-figure {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-header {
  background-color: #fff;
  border-radius: 30px;
  height: 465px;
  margin: -55px auto 0 auto;
  padding: 30px 0 0 0;
  width: 340px;
}

.card-circle-header {
  background-color: #FFE3E3;
  border: 34px solid rgba(255, 255, 255, 0.75);
  height: 370px;
  width: 415px;
}

.card-message {
  background: rgba(255, 255, 255, 0.75);
  padding: 15px 30px;
}

.text-card-message h3, .course .box-center .info-phone .pop-up-right .card-message:last-child h3, .course .box-center .info-phone .pop-up-right .card-message:first-child h3, .course .box-center .info-phone .pop-up-left .card-message:last-child h3, .course .box-center .info-phone .pop-up-left .card-message:first-child h3 {
  color: #000000;
  font-size: 20px;
  line-height: 20px;
  width: 263px;
}
.text-card-message h3:last-child, .course .box-center .info-phone .pop-up-right .card-message:last-child h3:last-child, .course .box-center .info-phone .pop-up-right .card-message:first-child h3:last-child, .course .box-center .info-phone .pop-up-left .card-message:last-child h3:last-child, .course .box-center .info-phone .pop-up-left .card-message:first-child h3:last-child {
  font-size: 18px;
  line-height: 20px;
}

.line {
  border-bottom: 15px solid #FF6B6B;
  height: 15px;
  margin-left: 16rem;
  margin-top: -5rem;
  transform: rotate(-4deg);
  width: 380.71px;
}

.line-phone {
  border-bottom: 15px solid #FF6B6B;
  height: 15px;
  transform: rotate(-4deg);
  width: 474.98px;
}

/************** RESPONSIVE **************/
@media (min-width: 340px) and (max-width: 820px) {
  .card-header {
    height: 380px;
    margin: -55px auto 0 auto;
    padding: 30px 0 0 0;
    width: 260px;
  }

  .card-circle-header {
    background-color: #FFE3E3;
    border: 34px solid rgba(255, 255, 255, 0.75);
    border-radius: 50%;
    height: 270px;
    margin: 0 auto;
    width: 280px;
  }

  .card-message {
    border-radius: 20px;
    padding: 5px 25px;
  }

  .line {
    height: 7px;
    margin-left: 7.5rem;
    margin-top: -3rem;
    transform: rotate(-5deg);
    width: 190.71px;
  }

  .line-phone {
    height: 10px;
    width: 210.71px;
  }
}
.flex, .tutores .box-center .info-phone, .tutores .box-center .box-line, .services .box-center .info-services .boxes-services, .services .box-center .info-services, .services .box-center .title-sesrvices, .course .box-center .info-phone, .course .box-center .box-line, .header .box-header {
  display: flex;
}

.flex-align-center, .tutores .box-center .box-line, .services .box-center .info-services .boxes-services, .services .box-center .title-sesrvices, .course .box-center .box-line, .header .box-header {
  align-items: center;
}

.flex-direction-column, .tutores .box-center .box-line, .services .box-center .info-services .boxes-services, .services .box-center .title-sesrvices, .course .box-center .box-line, .header .box-header {
  flex-direction: column;
}

.flex-justify-center, .tutores .box-center .info-phone, .services .box-center .info-services .boxes-services, .services .box-center .info-services, .course .box-center .info-phone {
  justify-content: center;
}

.flex-justify-end {
  justify-content: end;
}

.flex-row {
  flex-direction: row;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col-1 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.container {
  /* max-width: 1140px; */
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  /* if you have more elements, this property allow continue above */
}

@media (min-width: 576px) {
  .col-s-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-s-2, .services .box-center .info-services .boxes-services {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-s-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-s-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-s-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-s-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-s-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-s-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-s-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-s-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-s-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-s-12 {
    flex: 0 0 100%;
    /* is a shorthand property that sets flex-grow, flex-shrink, and flex-basis */
    max-width: 100%;
  }

  .container, .container-s {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-md-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-md-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-md-6, .services .box-center .info-services .boxes-services {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-md-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-md-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-md-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .container, .container-s, .container-md {
    max-width: 720px;
  }
}
/******* Responsive medium *******/
@media (min-width: 992px) {
  .col-lg-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-lg-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-lg-3, .services .box-center .info-services .boxes-services {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-lg-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-lg-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-lg-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .container, .container-s, .container-md, .container-lg {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container, .container-s, .container-md, .container-lg, .container-xl {
    max-width: 1140px;
  }
}
.header {
  background-color: #FF6B6B;
  height: 95vh;
}
.header .box-header .logo {
  height: 50px;
  padding-top: 30px;
  width: 300px;
}
.header .box-header .header-title {
  color: #fff;
  line-height: 60px;
}
.header .box-header .header-title span {
  color: rgba(255, 255, 255, 0.75);
}
.header .box-header .container-figure {
  height: 62vh;
}
.header .box-header .container-figure .move-box {
  bottom: 0;
  left: 0;
  margin: auto;
  right: 0;
}
.header .box-header .container-figure .move-box .card-circle-header .card-header .title-figure {
  color: rgba(0, 0, 0, 0.75);
  line-height: 33px;
}
.header .box-header .container-figure .move-box .card-circle-header .card-header .number-figure {
  color: #000000;
  font-size: 100px;
  line-height: 110px;
}
.header .box-header .container-figure .move-box .card-circle-header .card-header .dolar-figure {
  color: rgba(0, 0, 0, 0.75);
  font-size: 48px;
  line-height: 65px;
}
.header .box-header .container-figure .move-box .card-circle-header .card-header .description-figure {
  color: #FF6B6B;
  line-height: 49px;
}
.header .box-header .container-figure .move-box .card-circle-header .card-header .btn-figure {
  background: rgba(255, 255, 255, 0.75);
  border-radius: 2rem;
  margin-top: 15px;
  padding: 10px 0px;
  opacity: 0.6;
  width: 170px;
}
.header .box-header .container-figure .move-box .card-circle-header .card-header .btn-figure:hover {
  background-color: #e94a47;
}
.header .box-header .container-figure .move-box .card-circle-header .pop-up .card-message {
  margin: 1.5rem 0 0 -14rem;
}
.header .box-header .container-figure .move-box .card-circle-header .pop-up .card-message h3 {
  color: #000000;
  font-size: 24px;
  line-height: 13px;
  width: 263px;
}
.header .box-header .container-figure .move-box .card-circle-header .pop-up .card-message h3:last-child {
  font-size: 18px;
  line-height: 20px;
}
.header .box-header .container-figure .move-box .card-circle-header .pop-up .love-img {
  height: 340px;
  margin-top: -67px;
  width: 360px;
}

/************** RESPONSIVE **************/
@media (min-width: 340px) and (max-width: 820px) {
  .header {
    height: 70vh;
  }
  .header .box-header .header-title {
    font-size: 20px;
    line-height: 30px;
  }
  .header .box-header .header-title span {
    font-size: 14px;
  }
  .header .box-header .container-figure {
    height: 50vh;
  }
  .header .box-header .container-figure .move-box .card-circle-header .card-header .title-figure {
    font-size: 14px;
  }
  .header .box-header .container-figure .move-box .card-circle-header .card-header .number-figure {
    font-size: 50px;
    line-height: 40px;
  }
  .header .box-header .container-figure .move-box .card-circle-header .card-header .dolar-figure {
    font-size: 24px;
  }
  .header .box-header .container-figure .move-box .card-circle-header .card-header .description-figure {
    font-size: 24px;
    line-height: 39px;
  }
  .header .box-header .container-figure .move-box .card-circle-header .card-header .btn-figure {
    border-radius: 2rem;
    margin-top: 30px;
    padding: 5px 0px;
    width: 170px;
  }
  .header .box-header .container-figure .move-box .card-circle-header .pop-up {
    width: 50%;
  }
  .header .box-header .container-figure .move-box .card-circle-header .pop-up .card-message {
    margin: 2.5rem 0 0 -3rem;
    transform: rotate(25deg);
  }
  .header .box-header .container-figure .move-box .card-circle-header .pop-up .card-message h3 {
    font-size: 15px;
    line-height: 13px;
    width: 150px;
  }
  .header .box-header .container-figure .move-box .card-circle-header .pop-up .card-message h3:last-child {
    font-size: 12px;
    line-height: 15px;
  }
  .header .box-header .container-figure .move-box .card-circle-header .pop-up .love-img {
    height: 300px;
    margin-top: -37px;
    width: 300px;
  }
}
@media (min-width: 821px) and (max-width: 1080px) {
  .header {
    height: 84vh;
  }
  .header .box-header .header-title {
    font-size: 36px;
  }
  .header .container-figure {
    height: 55vh !important;
  }
}
.course {
  height: 85vh;
}
.course .box-center {
  bottom: 0;
  height: 50vh;
}
.course .box-center .info-phone {
  margin-top: 4rem;
}
.course .box-center .info-phone .pop-up-left .card-message:first-child {
  margin: 13rem 0 0 -13rem;
  width: 270px;
}
.course .box-center .info-phone .pop-up-left .card-message:last-child {
  margin: 30rem 0 0 -13rem;
  width: 270px;
}
.course .box-center .info-phone img {
  width: 470px;
  height: 700px;
}
.course .box-center .info-phone .pop-up-right .card-message:first-child {
  margin: 1.5rem 0 0 -7rem;
  width: 270px;
}
.course .box-center .info-phone .pop-up-right .card-message:last-child {
  margin: 23rem 0 0 -7rem;
  width: 270px;
}

@media (min-width: 340px) and (max-width: 820px) {
  .course {
    height: 100vh;
  }
  .course .box-center {
    height: 0vh;
  }
  .course .box-center .info-phone .pop-up-left {
    display: none;
  }
  .course .box-center .info-phone img {
    width: 290px;
    height: 500px;
  }
  .course .box-center .info-phone .pop-up-right {
    display: none;
  }
}
.services {
  height: 75vh;
}
.services .box-center {
  bottom: 0;
  height: 50vh;
}
.services .box-center .title-sesrvices h2 {
  font-size: 48px;
  line-height: 65px;
}
.services .box-center .info-services .boxes-services .icons-box {
  height: 100px;
  width: 100px;
}
.services .box-center .info-services .boxes-services h3 {
  font-size: 18px;
}

@media (min-width: 340px) and (max-width: 820px) {
  .services .box-center .title-sesrvices h2 {
    font-size: 25px;
    line-height: 35px;
  }
}
.tutores .box-center {
  bottom: 0;
  height: 50vh;
}
.tutores .box-center .info-phone {
  margin-top: 4rem;
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Open Sans", "Open-sans", sans-serif, Arial, "Trebuchet MS", "Lucida Sans Unicode";
}

/*# sourceMappingURL=styles.css.map */
