.flex {
    display: flex;
}

.flex-align-center {
    align-items: center;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-justify-center {
    justify-content: center;
}

.flex-justify-end {
    justify-content: end;
}

.flex-row {
    flex-direction: row;
}

