@import "colors";

.header {
  @extend .width-full;
  background-color: $pink;
  height: 98vh;
  .box-header {
    @extend .flex;
    @extend .flex-align-center;
    @extend.flex-direction-column;
    @extend .padding-none;
    .logo {
      height: 50px;
      padding-top: 30px;
      width: 300px;
    }
    .header-title {
      @extend .font-bolder;
      @extend .font-title-lg;
      @extend .margin-none;
      @extend .text-align-center;
      color: $white;
      line-height: 60px;
      span {
        @extend .font-small;
        @extend .font-weight-slim;
        color: $white-light;
      }
    }

    .container-figure {
        @extend .position-relative;
        @extend .width-full;
        height: 65vh;
      .move-box {
        @extend .position-absolute;
       bottom: 0;
       left: 0;
       margin: auto;
       right: 0;
      
        .card-circle-header {
          .card-header {
            .title-figure {
              @extend .font-small;
              @extend .font-weight-medium;
              @extend .margin-none;
              @extend .z-text-shadow;
              color: $black-light;
              line-height: 33px;
            }
            .number-figure {
              @extend .font-bold;
              @extend .inline-block;
              @extend .margin-none;
              color: $dark;
              font-size: 100px;
              line-height: 110px;
            }
            .dolar-figure {
              @extend .font-bold;
              color: $black-light;
              font-size: 48px;
              line-height: 65px;
            }
            .description-figure {
              @extend .font-weight-medium;
              @extend .font-medium;
              @extend .margin-none;
              color: $pink;
              line-height: 49px;
            }
            .btn-figure {
              @extend .font-small;
              @extend .no-border;
              @extend .hvr-wobble-vertical;
              @extend .z-shadow;
              background: $white-light;
              border-radius: 2rem;
              margin-top: 15px;
              padding: 10px 0px;
              opacity: 0.6;
              width: 170px;
              &:hover {
                background-color: red;
                color: $white;
              }
            }
          }

          .pop-up {
            @extend .width-full;
            .card-message {
              margin: 1.5rem 0 0 -14rem;
            h3 {
              @extend .font-bold;
              @extend .margin-none;
              @extend .text-align-left;
              color: $dark;
              font-size: 24px;
              line-height: 13px;
              width: 263px;
            }
            h3:last-child {
              @extend .font-weight-slim;
              font-size: 18px;
              line-height: 20px;
            }
          }
            .love-img {
              @extend .inline-block;
              height: 340px;
              margin-top: -67px;
              width: 360px;
            }
          }
        }
      }
    }
  }
}

/************** RESPONSIVE **************/
@media (min-width: 315px) and (max-width: 820px) {
  .header {
    height: 70vh;
    .box-header {
      .header-title {
        font-size: 20px;
        line-height: 30px;
        span {
          font-size: 14px;
        }
      }

      .container-figure {
        height: 50vh;
        .move-box {
          .card-circle-header {
            .card-header {
              .title-figure {
                font-size: 14px;
              }
              .number-figure {
                font-size: 50px;
                line-height: 40px;
              }
              .dolar-figure {
                font-size: 24px;
              }
              .description-figure {
                @extend .margin-none;
                font-size: 24px;
                line-height: 39px;
              }
              .btn-figure {
                @extend .font-small;
                @extend .z-shadow;
                border-radius: 2rem;
                margin-top: 30px;
                padding: 5px 0px;
                width: 170px;
              }
            }

              .pop-up {
                width: 50%;
                .card-message {
                  margin: 2.5rem 0 0 -3rem;
                  transform: rotate(25deg);
                  h3 {
                    @extend .font-bold;
                    font-size: 15px;
                    line-height: 13px;
                    width: 150px;
                  }
                  h3:last-child {
                    font-size: 12px;
                    line-height: 15px;
                  }
                }
                  .love-img {
                    @extend .inline-block;
                    height: 300px;
                    margin-top: -37px;
                    width: 300px;
                  }
                
            }
          }
        }
      }
    }
  }
}

@media (min-width: 821px) and (max-width: 1080px) {
    .header {
        height: 84vh;
        .box-header {
            .header-title {
                font-size: 36px;
            }
        }
        .container-figure {
                height: 55vh !important;

        }
    }
}

@media (min-width: 1500px) {
  .header {
    height: 80vh;
    .container-figure {
            height: 55vh !important;

    }
}
}

