
$font-smaller: 12px;
$font-lg: 30px;

$type-generally: 'Open-sans', sans-serif, Arial, 'Trebuchet MS', 'Lucida Sans Unicode';
$type-secondary: 'Times New Roman', serif;

html, body {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Open Sans', $type-generally;
}